USE [DEV_PIL_POC]
GO
/****** Object:  Table [dbo].[TBL_TRENING_USER_MASTER]    Script Date: 04-09-2026 10:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_USER_MASTER](
	[n_user_id] [int] IDENTITY(1,1) NOT NULL,
	[s_employee_id] [varchar](50) NULL,
	[s_user_name] [varchar](150) NULL,
	[s_email] [varchar](255) NOT NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[s_created_by] [varchar](100) NULL,
	[dt_updated_at] [datetime2](7) NULL,
	[s_updated_by] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_TRENING_USER_MASTER] PRIMARY KEY CLUSTERED 
(
	[n_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_TRAINING_MASTER]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_TRAINING_MASTER](
	[n_training_id] [int] IDENTITY(1,1) NOT NULL,
	[s_training_code] [varchar](50) NOT NULL,
	[s_training_name] [varchar](200) NOT NULL,
	[s_description] [varchar](max) NULL,
	[n_training_month] [int] NOT NULL,
	[n_training_year] [int] NOT NULL,
	[d_training_date] [date] NOT NULL,
	[t_start_time] [time](7) NOT NULL,
	[t_end_time] [time](7) NOT NULL,
	[dt_registration_start] [datetime2](7) NOT NULL,
	[dt_registration_end] [datetime2](7) NOT NULL,
	[s_teams_meeting_link] [varchar](1000) NULL,
	[n_passing_score] [decimal](5, 2) NOT NULL,
	[n_minimum_attendance_minutes] [int] NOT NULL,
	[n_assessment_required] [int] NOT NULL,
	[s_status] [varchar](30) NOT NULL,
	[n_created_by] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[n_updated_by] [int] NULL,
	[dt_updated_at] [datetime2](7) NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
 CONSTRAINT [PK_TBL_TRENING_TRAINING_MASTER] PRIMARY KEY CLUSTERED 
(
	[n_training_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_TBL_TRENING_TRAINING_MASTER_CODE] UNIQUE NONCLUSTERED 
(
	[s_training_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_TRAINING_PARTICIPANT]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT](
	[n_participant_id] [int] IDENTITY(1,1) NOT NULL,
	[n_training_id] [int] NOT NULL,
	[n_user_id] [int] NOT NULL,
	[s_registration_status] [varchar](30) NOT NULL,
	[dt_registered_at] [datetime2](7) NULL,
	[s_registration_email_status] [varchar](20) NOT NULL,
	[dt_registration_email_sent_at] [datetime2](7) NULL,
	[s_confirmation_email_status] [varchar](20) NOT NULL,
	[dt_confirmation_email_sent_at] [datetime2](7) NULL,
	[s_attendance_status] [varchar](30) NOT NULL,
	[n_attendance_minutes] [int] NULL,
	[dt_attendance_processed_at] [datetime2](7) NULL,
	[n_assessment_eligible] [int] NOT NULL,
	[s_assessment_email_status] [varchar](20) NOT NULL,
	[dt_assessment_email_sent_at] [datetime2](7) NULL,
	[n_attempt_count] [int] NOT NULL,
	[n_reattempt_count] [int] NOT NULL,
	[n_final_score] [decimal](5, 2) NULL,
	[s_final_result] [varchar](30) NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[s_created_by] [varchar](100) NULL,
	[dt_updated_at] [datetime2](7) NULL,
	[s_updated_by] [varchar](100) NULL,
	[s_registration_token] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_TRENING_TRAINING_PARTICIPANT] PRIMARY KEY CLUSTERED 
(
	[n_participant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_TBL_TRENING_TRAINING_PARTICIPANT] UNIQUE NONCLUSTERED 
(
	[n_training_id] ASC,
	[n_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_TRENING_PARTICIPANT_DASHBOARD]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   DASHBOARD VIEW
   One row = One User + One Training
   ============================================================ */

CREATE VIEW [dbo].[VW_TRENING_PARTICIPANT_DASHBOARD]
AS

SELECT
    tp.n_participant_id,

    t.n_training_id,
    t.s_training_code,
    t.s_training_name,
    t.d_training_date,
    t.t_start_time,
    t.t_end_time,

    u.n_user_id,
    u.s_employee_id,
    u.s_user_name,
    u.s_email,

    tp.s_registration_status,
    tp.dt_registered_at,

    tp.s_registration_email_status,
    tp.dt_registration_email_sent_at,

    tp.s_confirmation_email_status,
    tp.dt_confirmation_email_sent_at,

    tp.s_attendance_status,
    tp.n_attendance_minutes,

    tp.n_assessment_eligible,

    tp.s_assessment_email_status,
    tp.dt_assessment_email_sent_at,

    tp.n_attempt_count,
    tp.n_reattempt_count,

    tp.n_final_score,
    tp.s_final_result

FROM TBL_TRENING_TRAINING_PARTICIPANT tp

INNER JOIN TBL_TRENING_TRAINING_MASTER t
    ON tp.n_training_id = t.n_training_id

INNER JOIN TBL_TRENING_USER_MASTER u
    ON tp.n_user_id = u.n_user_id

WHERE
    tp.delete_flag = 0
    AND t.delete_flag = 0
    AND u.delete_flag = 0;
GO
/****** Object:  Table [dbo].[TBL_TRENING_ASSESSMENT_ANSWER]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_ASSESSMENT_ANSWER](
	[n_answer_id] [int] IDENTITY(1,1) NOT NULL,
	[n_attempt_id] [int] NOT NULL,
	[n_question_id] [int] NOT NULL,
	[n_selected_option_id] [int] NULL,
	[n_is_correct] [int] NULL,
	[n_marks_obtained] [decimal](8, 2) NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[s_created_by] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_TRENING_ASSESSMENT_ANSWER] PRIMARY KEY CLUSTERED 
(
	[n_answer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_TBL_TRENING_ASSESSMENT_ANSWER] UNIQUE NONCLUSTERED 
(
	[n_attempt_id] ASC,
	[n_question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_ASSESSMENT_ATTEMPT]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_ASSESSMENT_ATTEMPT](
	[n_attempt_id] [int] IDENTITY(1,1) NOT NULL,
	[n_assessment_id] [int] NOT NULL,
	[n_participant_id] [int] NOT NULL,
	[n_attempt_number] [int] NOT NULL,
	[dt_started_at] [datetime2](7) NULL,
	[dt_submitted_at] [datetime2](7) NULL,
	[n_score] [decimal](8, 2) NULL,
	[n_percentage] [decimal](5, 2) NULL,
	[s_result] [varchar](30) NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[s_created_by] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_TRENING_ASSESSMENT_ATTEMPT] PRIMARY KEY CLUSTERED 
(
	[n_attempt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_TBL_TRENING_ASSESSMENT_ATTEMPT] UNIQUE NONCLUSTERED 
(
	[n_assessment_id] ASC,
	[n_participant_id] ASC,
	[n_attempt_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_ASSESSMENT_MASTER]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER](
	[n_assessment_id] [int] IDENTITY(1,1) NOT NULL,
	[n_training_id] [int] NOT NULL,
	[s_assessment_name] [varchar](200) NOT NULL,
	[s_description] [varchar](max) NULL,
	[n_total_marks] [decimal](8, 2) NOT NULL,
	[n_passing_score] [decimal](5, 2) NOT NULL,
	[n_duration_minutes] [int] NULL,
	[n_maximum_attempts] [int] NULL,
	[s_status] [varchar](30) NOT NULL,
	[n_created_by] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[n_published_by] [int] NULL,
	[dt_published_at] [datetime2](7) NULL,
	[n_updated_by] [int] NULL,
	[dt_updated_at] [datetime2](7) NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
 CONSTRAINT [PK_TBL_TRENING_ASSESSMENT_MASTER] PRIMARY KEY CLUSTERED 
(
	[n_assessment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_ASSESSMENT_OPTION]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_ASSESSMENT_OPTION](
	[n_option_id] [int] IDENTITY(1,1) NOT NULL,
	[n_question_id] [int] NOT NULL,
	[s_option_label] [varchar](10) NOT NULL,
	[s_option_text] [varchar](max) NOT NULL,
	[n_is_correct] [int] NOT NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[s_created_by] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_TRENING_ASSESSMENT_OPTION] PRIMARY KEY CLUSTERED 
(
	[n_option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_ASSESSMENT_QUESTION]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_ASSESSMENT_QUESTION](
	[n_question_id] [int] IDENTITY(1,1) NOT NULL,
	[n_assessment_id] [int] NOT NULL,
	[n_question_number] [int] NOT NULL,
	[s_question_text] [varchar](max) NOT NULL,
	[n_marks] [decimal](8, 2) NOT NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[s_created_by] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_TRENING_ASSESSMENT_QUESTION] PRIMARY KEY CLUSTERED 
(
	[n_question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_TBL_TRENING_ASSESSMENT_QUESTION] UNIQUE NONCLUSTERED 
(
	[n_assessment_id] ASC,
	[n_question_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_ATTENDANCE]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_ATTENDANCE](
	[n_attendance_id] [int] IDENTITY(1,1) NOT NULL,
	[n_participant_id] [int] NOT NULL,
	[s_attendance_status] [varchar](30) NOT NULL,
	[n_total_attendance_minutes] [int] NOT NULL,
	[n_assessment_eligible] [int] NOT NULL,
	[s_report_file_name] [varchar](500) NULL,
	[n_uploaded_by] [int] NULL,
	[dt_uploaded_at] [datetime2](7) NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[s_created_by] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_TRENING_ATTENDANCE] PRIMARY KEY CLUSTERED 
(
	[n_attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_ATTENDANCE_SESSION]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_ATTENDANCE_SESSION](
	[n_attendance_session_id] [int] IDENTITY(1,1) NOT NULL,
	[n_attendance_id] [int] NOT NULL,
	[dt_join_time] [datetime2](7) NOT NULL,
	[dt_leave_time] [datetime2](7) NULL,
	[n_duration_minutes] [int] NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[s_created_by] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_TRENING_ATTENDANCE_SESSION] PRIMARY KEY CLUSTERED 
(
	[n_attendance_session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_AUDIT_LOG]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_AUDIT_LOG](
	[n_audit_log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[n_user_id] [int] NULL,
	[s_action] [varchar](100) NOT NULL,
	[s_module] [varchar](100) NOT NULL,
	[s_entity_type] [varchar](100) NULL,
	[s_entity_id] [varchar](100) NULL,
	[s_description] [varchar](max) NULL,
	[s_old_value] [varchar](max) NULL,
	[s_new_value] [varchar](max) NULL,
	[s_ip_address] [varchar](100) NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TBL_TRENING_AUDIT_LOG] PRIMARY KEY CLUSTERED 
(
	[n_audit_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_COORDINATOR_USER]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_COORDINATOR_USER](
	[n_coordinator_user_id] [int] IDENTITY(1,1) NOT NULL,
	[n_coordinator_id] [int] NOT NULL,
	[n_user_id] [int] NOT NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime] NOT NULL,
	[s_created_by] [varchar](100) NULL,
	[dt_updated_at] [datetime] NULL,
	[s_updated_by] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[n_coordinator_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_EMAIL_LOG]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_EMAIL_LOG](
	[n_email_log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[n_email_template_id] [int] NULL,
	[n_training_id] [int] NULL,
	[n_user_id] [int] NULL,
	[s_email_type] [varchar](100) NOT NULL,
	[s_from_email] [varchar](255) NULL,
	[s_to_email] [varchar](max) NOT NULL,
	[s_cc_email] [varchar](max) NULL,
	[s_bcc_email] [varchar](max) NULL,
	[s_subject] [varchar](500) NOT NULL,
	[s_status] [varchar](20) NOT NULL,
	[s_message_id] [varchar](500) NULL,
	[dt_queued_at] [datetime2](7) NOT NULL,
	[dt_sent_at] [datetime2](7) NULL,
	[dt_failed_at] [datetime2](7) NULL,
	[s_failure_reason] [varchar](max) NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[s_created_by] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_TRENING_EMAIL_LOG] PRIMARY KEY CLUSTERED 
(
	[n_email_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_EMAIL_LOG_TRAINING]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_EMAIL_LOG_TRAINING](
	[n_email_log_training_id] [bigint] IDENTITY(1,1) NOT NULL,
	[n_email_log_id] [bigint] NOT NULL,
	[n_training_id] [int] NOT NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[s_created_by] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_TRENING_EMAIL_LOG_TRAINING] PRIMARY KEY CLUSTERED 
(
	[n_email_log_training_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_TBL_TRENING_EMAIL_LOG_TRAINING] UNIQUE NONCLUSTERED 
(
	[n_email_log_id] ASC,
	[n_training_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_EMAIL_TEMPLATE]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_EMAIL_TEMPLATE](
	[n_email_template_id] [int] IDENTITY(1,1) NOT NULL,
	[s_template_code] [varchar](100) NOT NULL,
	[s_template_name] [varchar](200) NOT NULL,
	[s_subject_template] [varchar](500) NOT NULL,
	[s_body_template] [varchar](max) NOT NULL,
	[n_cc_coordinator] [int] NOT NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[n_created_by] [int] NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[n_updated_by] [int] NULL,
	[dt_updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_TBL_TRENING_EMAIL_TEMPLATE] PRIMARY KEY CLUSTERED 
(
	[n_email_template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_TBL_TRENING_EMAIL_TEMPLATE_CODE] UNIQUE NONCLUSTERED 
(
	[s_template_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_ROLE_MASTER]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_ROLE_MASTER](
	[n_role_id] [int] IDENTITY(1,1) NOT NULL,
	[s_role_name] [varchar](50) NOT NULL,
	[s_description] [varchar](500) NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[s_created_by] [varchar](100) NULL,
	[dt_updated_at] [datetime2](7) NULL,
	[s_updated_by] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_TRENING_ROLE_MASTER] PRIMARY KEY CLUSTERED 
(
	[n_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRENING_USER_ROLE]    Script Date: 04-09-2026 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRENING_USER_ROLE](
	[n_user_role_id] [int] IDENTITY(1,1) NOT NULL,
	[n_user_id] [int] NOT NULL,
	[n_role_id] [int] NOT NULL,
	[n_flag] [int] NOT NULL,
	[delete_flag] [int] NOT NULL,
	[dt_created_at] [datetime2](7) NOT NULL,
	[s_created_by] [varchar](100) NULL,
	[dt_updated_at] [datetime2](7) NULL,
	[s_updated_by] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_TRENING_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[n_user_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_TBL_TRENING_USER_ROLE] UNIQUE NONCLUSTERED 
(
	[n_user_id] ASC,
	[n_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_TBL_TRENING_AUDIT_LOG_CREATED_AT]    Script Date: 04-09-2026 10:52:40 ******/
CREATE NONCLUSTERED INDEX [IX_TBL_TRENING_AUDIT_LOG_CREATED_AT] ON [dbo].[TBL_TRENING_AUDIT_LOG]
(
	[dt_created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TBL_TRENING_AUDIT_LOG_MODULE]    Script Date: 04-09-2026 10:52:40 ******/
CREATE NONCLUSTERED INDEX [IX_TBL_TRENING_AUDIT_LOG_MODULE] ON [dbo].[TBL_TRENING_AUDIT_LOG]
(
	[s_module] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TBL_TRENING_AUDIT_LOG_USER]    Script Date: 04-09-2026 10:52:40 ******/
CREATE NONCLUSTERED INDEX [IX_TBL_TRENING_AUDIT_LOG_USER] ON [dbo].[TBL_TRENING_AUDIT_LOG]
(
	[n_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UX_TRENING_COORDINATOR_USER_ACTIVE]    Script Date: 04-09-2026 10:52:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TRENING_COORDINATOR_USER_ACTIVE] ON [dbo].[TBL_TRENING_COORDINATOR_USER]
(
	[n_coordinator_id] ASC,
	[n_user_id] ASC
)
WHERE ([delete_flag]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TBL_TRENING_EMAIL_LOG_SENT_AT]    Script Date: 04-09-2026 10:52:40 ******/
CREATE NONCLUSTERED INDEX [IX_TBL_TRENING_EMAIL_LOG_SENT_AT] ON [dbo].[TBL_TRENING_EMAIL_LOG]
(
	[dt_sent_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TBL_TRENING_EMAIL_LOG_STATUS]    Script Date: 04-09-2026 10:52:40 ******/
CREATE NONCLUSTERED INDEX [IX_TBL_TRENING_EMAIL_LOG_STATUS] ON [dbo].[TBL_TRENING_EMAIL_LOG]
(
	[s_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TBL_TRENING_EMAIL_LOG_TRAINING]    Script Date: 04-09-2026 10:52:40 ******/
CREATE NONCLUSTERED INDEX [IX_TBL_TRENING_EMAIL_LOG_TRAINING] ON [dbo].[TBL_TRENING_EMAIL_LOG]
(
	[n_training_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TBL_TRENING_EMAIL_LOG_USER]    Script Date: 04-09-2026 10:52:40 ******/
CREATE NONCLUSTERED INDEX [IX_TBL_TRENING_EMAIL_LOG_USER] ON [dbo].[TBL_TRENING_EMAIL_LOG]
(
	[n_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TBL_TRENING_EMAIL_LOG_TRAINING_EMAIL]    Script Date: 04-09-2026 10:52:40 ******/
CREATE NONCLUSTERED INDEX [IX_TBL_TRENING_EMAIL_LOG_TRAINING_EMAIL] ON [dbo].[TBL_TRENING_EMAIL_LOG_TRAINING]
(
	[n_email_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TBL_TRENING_EMAIL_LOG_TRAINING_TRAINING]    Script Date: 04-09-2026 10:52:40 ******/
CREATE NONCLUSTERED INDEX [IX_TBL_TRENING_EMAIL_LOG_TRAINING_TRAINING] ON [dbo].[TBL_TRENING_EMAIL_LOG_TRAINING]
(
	[n_training_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_TBL_TRENING_ROLE_MASTER_ROLE]    Script Date: 04-09-2026 10:52:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TBL_TRENING_ROLE_MASTER_ROLE] ON [dbo].[TBL_TRENING_ROLE_MASTER]
(
	[s_role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_TBL_TRENING_TRAINING_PARTICIPANT_REGISTRATION_TOKEN]    Script Date: 04-09-2026 10:52:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TBL_TRENING_TRAINING_PARTICIPANT_REGISTRATION_TOKEN] ON [dbo].[TBL_TRENING_TRAINING_PARTICIPANT]
(
	[s_registration_token] ASC
)
WHERE ([s_registration_token] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_TBL_TRENING_USER_MASTER_EMAIL]    Script Date: 04-09-2026 10:52:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TBL_TRENING_USER_MASTER_EMAIL] ON [dbo].[TBL_TRENING_USER_MASTER]
(
	[s_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ANSWER] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ANSWER] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ANSWER] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ATTEMPT] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ATTEMPT] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ATTEMPT] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER] ADD  DEFAULT ((80.00)) FOR [n_passing_score]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER] ADD  DEFAULT ('DRAFT') FOR [s_status]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_OPTION] ADD  DEFAULT ((0)) FOR [n_is_correct]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_OPTION] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_OPTION] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_OPTION] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_QUESTION] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_QUESTION] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_QUESTION] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE] ADD  DEFAULT ('ATTENDED') FOR [s_attendance_status]
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE] ADD  DEFAULT ((0)) FOR [n_total_attendance_minutes]
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE] ADD  DEFAULT ((0)) FOR [n_assessment_eligible]
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE_SESSION] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE_SESSION] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE_SESSION] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_AUDIT_LOG] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_COORDINATOR_USER] ADD  CONSTRAINT [DF_TRENING_COORDINATOR_USER_FLAG]  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_COORDINATOR_USER] ADD  CONSTRAINT [DF_TRENING_COORDINATOR_USER_DELETE]  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_COORDINATOR_USER] ADD  CONSTRAINT [DF_TRENING_COORDINATOR_USER_CREATED]  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG] ADD  DEFAULT ('QUEUED') FOR [s_status]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG] ADD  DEFAULT (getdate()) FOR [dt_queued_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG_TRAINING] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG_TRAINING] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG_TRAINING] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_TEMPLATE] ADD  DEFAULT ((0)) FOR [n_cc_coordinator]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_TEMPLATE] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_TEMPLATE] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_TEMPLATE] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_ROLE_MASTER] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ROLE_MASTER] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_ROLE_MASTER] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER] ADD  DEFAULT ((80.00)) FOR [n_passing_score]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER] ADD  DEFAULT ((30)) FOR [n_minimum_attendance_minutes]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER] ADD  DEFAULT ((1)) FOR [n_assessment_required]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER] ADD  DEFAULT ('DRAFT') FOR [s_status]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ADD  DEFAULT ('REGISTERED') FOR [s_registration_status]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ADD  DEFAULT ('NOT_SENT') FOR [s_registration_email_status]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ADD  DEFAULT ('NOT_SENT') FOR [s_confirmation_email_status]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ADD  DEFAULT ('NOT_PROCESSED') FOR [s_attendance_status]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ADD  DEFAULT ((0)) FOR [n_assessment_eligible]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ADD  DEFAULT ('NOT_SENT') FOR [s_assessment_email_status]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ADD  DEFAULT ((0)) FOR [n_attempt_count]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ADD  DEFAULT ((0)) FOR [n_reattempt_count]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_USER_MASTER] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_USER_MASTER] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_USER_MASTER] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_USER_ROLE] ADD  DEFAULT ((1)) FOR [n_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_USER_ROLE] ADD  DEFAULT ((0)) FOR [delete_flag]
GO
ALTER TABLE [dbo].[TBL_TRENING_USER_ROLE] ADD  DEFAULT (getdate()) FOR [dt_created_at]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ANSWER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_ANSWER_ATTEMPT] FOREIGN KEY([n_attempt_id])
REFERENCES [dbo].[TBL_TRENING_ASSESSMENT_ATTEMPT] ([n_attempt_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ANSWER] CHECK CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_ANSWER_ATTEMPT]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ANSWER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_ANSWER_OPTION] FOREIGN KEY([n_selected_option_id])
REFERENCES [dbo].[TBL_TRENING_ASSESSMENT_OPTION] ([n_option_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ANSWER] CHECK CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_ANSWER_OPTION]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ANSWER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_ANSWER_QUESTION] FOREIGN KEY([n_question_id])
REFERENCES [dbo].[TBL_TRENING_ASSESSMENT_QUESTION] ([n_question_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ANSWER] CHECK CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_ANSWER_QUESTION]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ATTEMPT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_ATTEMPT_ASSESSMENT] FOREIGN KEY([n_assessment_id])
REFERENCES [dbo].[TBL_TRENING_ASSESSMENT_MASTER] ([n_assessment_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ATTEMPT] CHECK CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_ATTEMPT_ASSESSMENT]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ATTEMPT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_ATTEMPT_PARTICIPANT] FOREIGN KEY([n_participant_id])
REFERENCES [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ([n_participant_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ATTEMPT] CHECK CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_ATTEMPT_PARTICIPANT]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_MASTER_CREATED_BY] FOREIGN KEY([n_created_by])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER] CHECK CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_MASTER_CREATED_BY]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_MASTER_PUBLISHED_BY] FOREIGN KEY([n_published_by])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER] CHECK CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_MASTER_PUBLISHED_BY]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_MASTER_TRAINING] FOREIGN KEY([n_training_id])
REFERENCES [dbo].[TBL_TRENING_TRAINING_MASTER] ([n_training_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER] CHECK CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_MASTER_TRAINING]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_MASTER_UPDATED_BY] FOREIGN KEY([n_updated_by])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER] CHECK CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_MASTER_UPDATED_BY]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_OPTION]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_OPTION_QUESTION] FOREIGN KEY([n_question_id])
REFERENCES [dbo].[TBL_TRENING_ASSESSMENT_QUESTION] ([n_question_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_OPTION] CHECK CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_OPTION_QUESTION]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_QUESTION]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_QUESTION_ASSESSMENT] FOREIGN KEY([n_assessment_id])
REFERENCES [dbo].[TBL_TRENING_ASSESSMENT_MASTER] ([n_assessment_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_QUESTION] CHECK CONSTRAINT [FK_TBL_TRENING_ASSESSMENT_QUESTION_ASSESSMENT]
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ATTENDANCE_PARTICIPANT] FOREIGN KEY([n_participant_id])
REFERENCES [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] ([n_participant_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE] CHECK CONSTRAINT [FK_TBL_TRENING_ATTENDANCE_PARTICIPANT]
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ATTENDANCE_UPLOADED_BY] FOREIGN KEY([n_uploaded_by])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE] CHECK CONSTRAINT [FK_TBL_TRENING_ATTENDANCE_UPLOADED_BY]
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE_SESSION]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_ATTENDANCE_SESSION_ATTENDANCE] FOREIGN KEY([n_attendance_id])
REFERENCES [dbo].[TBL_TRENING_ATTENDANCE] ([n_attendance_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_ATTENDANCE_SESSION] CHECK CONSTRAINT [FK_TBL_TRENING_ATTENDANCE_SESSION_ATTENDANCE]
GO
ALTER TABLE [dbo].[TBL_TRENING_AUDIT_LOG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_AUDIT_LOG_USER] FOREIGN KEY([n_user_id])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_AUDIT_LOG] CHECK CONSTRAINT [FK_TBL_TRENING_AUDIT_LOG_USER]
GO
ALTER TABLE [dbo].[TBL_TRENING_COORDINATOR_USER]  WITH CHECK ADD  CONSTRAINT [FK_TRENING_COORDINATOR_USER_COORDINATOR] FOREIGN KEY([n_coordinator_id])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_COORDINATOR_USER] CHECK CONSTRAINT [FK_TRENING_COORDINATOR_USER_COORDINATOR]
GO
ALTER TABLE [dbo].[TBL_TRENING_COORDINATOR_USER]  WITH CHECK ADD  CONSTRAINT [FK_TRENING_COORDINATOR_USER_USER] FOREIGN KEY([n_user_id])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_COORDINATOR_USER] CHECK CONSTRAINT [FK_TRENING_COORDINATOR_USER_USER]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_EMAIL_LOG_TEMPLATE] FOREIGN KEY([n_email_template_id])
REFERENCES [dbo].[TBL_TRENING_EMAIL_TEMPLATE] ([n_email_template_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG] CHECK CONSTRAINT [FK_TBL_TRENING_EMAIL_LOG_TEMPLATE]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_EMAIL_LOG_TRAINING] FOREIGN KEY([n_training_id])
REFERENCES [dbo].[TBL_TRENING_TRAINING_MASTER] ([n_training_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG] CHECK CONSTRAINT [FK_TBL_TRENING_EMAIL_LOG_TRAINING]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_EMAIL_LOG_USER] FOREIGN KEY([n_user_id])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG] CHECK CONSTRAINT [FK_TBL_TRENING_EMAIL_LOG_USER]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG_TRAINING]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_EMAIL_LOG_TRAINING_EMAIL_LOG] FOREIGN KEY([n_email_log_id])
REFERENCES [dbo].[TBL_TRENING_EMAIL_LOG] ([n_email_log_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG_TRAINING] CHECK CONSTRAINT [FK_TBL_TRENING_EMAIL_LOG_TRAINING_EMAIL_LOG]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG_TRAINING]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_EMAIL_LOG_TRAINING_TRAINING] FOREIGN KEY([n_training_id])
REFERENCES [dbo].[TBL_TRENING_TRAINING_MASTER] ([n_training_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG_TRAINING] CHECK CONSTRAINT [FK_TBL_TRENING_EMAIL_LOG_TRAINING_TRAINING]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_TEMPLATE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_EMAIL_TEMPLATE_CREATED_BY] FOREIGN KEY([n_created_by])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_TEMPLATE] CHECK CONSTRAINT [FK_TBL_TRENING_EMAIL_TEMPLATE_CREATED_BY]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_TEMPLATE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_EMAIL_TEMPLATE_UPDATED_BY] FOREIGN KEY([n_updated_by])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_TEMPLATE] CHECK CONSTRAINT [FK_TBL_TRENING_EMAIL_TEMPLATE_UPDATED_BY]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_TRAINING_MASTER_CREATED_BY] FOREIGN KEY([n_created_by])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER] CHECK CONSTRAINT [FK_TBL_TRENING_TRAINING_MASTER_CREATED_BY]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_TRAINING_MASTER_UPDATED_BY] FOREIGN KEY([n_updated_by])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER] CHECK CONSTRAINT [FK_TBL_TRENING_TRAINING_MASTER_UPDATED_BY]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_TRAINING_PARTICIPANT_TRAINING] FOREIGN KEY([n_training_id])
REFERENCES [dbo].[TBL_TRENING_TRAINING_MASTER] ([n_training_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] CHECK CONSTRAINT [FK_TBL_TRENING_TRAINING_PARTICIPANT_TRAINING]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_TRAINING_PARTICIPANT_USER] FOREIGN KEY([n_user_id])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_PARTICIPANT] CHECK CONSTRAINT [FK_TBL_TRENING_TRAINING_PARTICIPANT_USER]
GO
ALTER TABLE [dbo].[TBL_TRENING_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_USER_ROLE_ROLE] FOREIGN KEY([n_role_id])
REFERENCES [dbo].[TBL_TRENING_ROLE_MASTER] ([n_role_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_USER_ROLE] CHECK CONSTRAINT [FK_TBL_TRENING_USER_ROLE_ROLE]
GO
ALTER TABLE [dbo].[TBL_TRENING_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TRENING_USER_ROLE_USER] FOREIGN KEY([n_user_id])
REFERENCES [dbo].[TBL_TRENING_USER_MASTER] ([n_user_id])
GO
ALTER TABLE [dbo].[TBL_TRENING_USER_ROLE] CHECK CONSTRAINT [FK_TBL_TRENING_USER_ROLE_USER]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ATTEMPT]  WITH CHECK ADD  CONSTRAINT [CK_TBL_TRENING_ASSESSMENT_ATTEMPT_RESULT] CHECK  (([s_result] IS NULL OR ([s_result]='REATTEMPT' OR [s_result]='FAIL' OR [s_result]='PASS')))
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_ATTEMPT] CHECK CONSTRAINT [CK_TBL_TRENING_ASSESSMENT_ATTEMPT_RESULT]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER]  WITH CHECK ADD  CONSTRAINT [CK_TBL_TRENING_ASSESSMENT_MASTER_SCORE] CHECK  (([n_passing_score]>=(0) AND [n_passing_score]<=(100)))
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER] CHECK CONSTRAINT [CK_TBL_TRENING_ASSESSMENT_MASTER_SCORE]
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER]  WITH CHECK ADD  CONSTRAINT [CK_TBL_TRENING_ASSESSMENT_MASTER_STATUS] CHECK  (([s_status]='ARCHIVED' OR [s_status]='CLOSED' OR [s_status]='OPEN' OR [s_status]='PUBLISHED' OR [s_status]='DRAFT'))
GO
ALTER TABLE [dbo].[TBL_TRENING_ASSESSMENT_MASTER] CHECK CONSTRAINT [CK_TBL_TRENING_ASSESSMENT_MASTER_STATUS]
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG]  WITH CHECK ADD  CONSTRAINT [CK_TBL_TRENING_EMAIL_LOG_STATUS] CHECK  (([s_status]='FAILED' OR [s_status]='SUCCESS' OR [s_status]='SENDING' OR [s_status]='QUEUED'))
GO
ALTER TABLE [dbo].[TBL_TRENING_EMAIL_LOG] CHECK CONSTRAINT [CK_TBL_TRENING_EMAIL_LOG_STATUS]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER]  WITH CHECK ADD  CONSTRAINT [CK_TBL_TRENING_TRAINING_MASTER_MONTH] CHECK  (([n_training_month]>=(1) AND [n_training_month]<=(12)))
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER] CHECK CONSTRAINT [CK_TBL_TRENING_TRAINING_MASTER_MONTH]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER]  WITH CHECK ADD  CONSTRAINT [CK_TBL_TRENING_TRAINING_MASTER_SCORE] CHECK  (([n_passing_score]>=(0) AND [n_passing_score]<=(100)))
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER] CHECK CONSTRAINT [CK_TBL_TRENING_TRAINING_MASTER_SCORE]
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER]  WITH CHECK ADD  CONSTRAINT [CK_TBL_TRENING_TRAINING_MASTER_STATUS] CHECK  (([s_status]='ARCHIVED' OR [s_status]='CANCELLED' OR [s_status]='COMPLETED' OR [s_status]='IN_PROGRESS' OR [s_status]='UPCOMING' OR [s_status]='REGISTRATION_CLOSED' OR [s_status]='REGISTRATION_OPEN' OR [s_status]='PUBLISHED' OR [s_status]='DRAFT'))
GO
ALTER TABLE [dbo].[TBL_TRENING_TRAINING_MASTER] CHECK CONSTRAINT [CK_TBL_TRENING_TRAINING_MASTER_STATUS]
GO
